<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="main-content" class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input id="search-input" placeholder="location" type="text">
            <button id="form-submit-button" type="submit">Submit</button>
        </form>
        <p id="message-one"></p>
        <p id="message-two"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>